Options +FollowSymLinks
DirectoryIndex index.php

RewriteEngine on
RewriteCond $1 !^(index\.php|assets|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php?$1 [L,QSA]

#Options +FollowSymLinks
#DirectoryIndex index.php

#RewriteEngine On
#RewriteBase /hrm/
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /hrm/index\.php\ HTTP/
#RewriteRule ^index\.php$ http://localhost/hrm/ [R=301,L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /hrm/index.php [L]

